@import url(//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

:root{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background: rgb(51, 10, 185);
}

body::-webkit-scrollbar-track-piece{
  background: rgb(57, 38, 66)
}

body::-webkit-scrollbar-thumb{
  background: rgb(109, 3, 109);
  border-radius: 20px;
}

#navbar {
    position: fixed;
    width: 5rem;
    height: 100vh;
    box-shadow: 3px 0px 3px black;
    background-color: rgb(68, 68, 93);
    transition: all 0.5s;
}

#navbar-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  transition: all 1s;
  height: 100%;
}

.nav-list {
  padding: 10px;
  width: 100%;
  font-size: 3rem;
}

.nav-list:hover{
  background-color: #333349;
}

.nav-list:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  color: rgba(22, 21, 21, 0.81);
  text-decoration: none;
}

.nav-text {
  display: none;
  margin-left: 10px;
  font-size: 1.5rem;
}

section{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: rgb(57, 57, 76);
}

#container {
  width: 100%;
}

#notes-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25vw;
  margin-right: 24vw;
  padding: 10px;
  width: auto;
}

.notebook {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 300px;
  border: 1.3px solid black;
  background-color:rgb(67, 67, 89);
  transition: all 0.8s;
}

.notebook:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 3px 2px black;
}

#navbar:hover{
  width: 15rem;
}

.nav-link:hover .nav-text {
  display: block;
}



